* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.dflex {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* HEADER ****************************************************************/




/* SECTION 1**************************************************************/

#section1 {
    background-color: whitesmoke;
}

#section1 figure img{
    height: 180px;
    width: 230px;
}

#section1 img{
    height: 400px;
    width: 320px;
}